
    {% extends "base.html" %}
    {% load static %}
    {% block content %}
    <script defer src="{% static 'js/fn-d.js' %}"></script>
    <div id="shade" class="overlay hidden"></div>
    <div id="edit-link" class="modal hidden" >
            <h2>Link Properties</h2>  
            <label> Link Description <input name="link_title" id="link-title"></label><br>
            <label> Link Address url <input name="link_url" id="link-url"></label><br>    
            <input id="update-link" type="button" value="OK" class="btn">
            <a id="link-edit-cancel"class="clickable">Cancel</a>   
            <!-- <input id="link-id" name="link_id" class="hidden"> -->
    </div>
    <div id="delete-link" class="modal hidden" >
            <h2>Remove Link </h2><br>    
            <p>Are you sure you want to remove this link from your collection sheet?</p>  
            <input id="del-link" type="button" value="Yes, Remove" class="btn" >
            <a id="link-remove-cancel" class="clickable">Cancel</a> 
            <!-- <input id="link-id1" name="link_id" class="hidden">   -->
    </div>
    <div id="middle-up">
        <div id="top-bar">
            <a href="/deletefact/{{ facts.0.id }}" id="det-del-fact" class="icon clickable">&#x1f5d1;</a>
            <p id="det-subject"> {{ sheet.subject }}</p>
            <div id="top-label-det" class="orange-bar left">Details
                <p id="category" class="clickable">No Category &#9660;</p>
            </div>
            <div id="index-box">
                <!-- <div id="fact" class="det-fact">  -->
                    <span id="det-prev" class="icon clickable big nav"> < </span>
                    <span id="fact" class="det-fact">

                    {{ facts.0.text }}

                    </span>
                    
                    <span id="det-next" class="icon clickable big nav"> > </span>
                <!-- </div> -->
            </div>
            <div id="top-label-note" class="orange-bar left">Notes
               <textarea id="fact-note" name="notes" value = "{{ sheet.note }}" >
                {{ sheet.note }}
               </textarea>
            </div>
            <div id="top-label-links" class="orange-bar left">Links
            <input id="add-link" type="submit" class="clickable link" value="+">    
                <div id="links-area">
                    <!-- Loop starts here for each saved link  -->
                    {% for link in links %}
                    <a href={{ link.url }} target='_blank' id='{{ link.id }}'> {{ link.title }}</a>
                        <!-- There is non-breakable spaces here. Dont change these two lines -->
                    <span class="clickable" id='e{{ link.id }}'>    &#x1f589;</span> 
                    <span class="clickable" id='d{{ link.id }}'>    &#x1f5d1;</span>
                    <br>
                    {% endfor %}
                    <!-- Loop for saved links ends here -->
                </div>
            </div>
        </div>    
    </div>
    <div id="bottom-band">
        <div id="index-bottom-container">
          <a href="/updatenote/{{ sheet.id }}/" class="btn" id="save"> SAVE </a>
          <a href="/index" class="clickable dark" id="back"> BACK </a>
          <a id="remove" class="clickable dark"> REMOVE THIS SHEET </a>
        </div>
        <div id="bottom-attention" class="hidden">
            <p class="dark"> ARE YOU REALLY WANT TO REMOVE THIS SHEET? </p>
            <p id="remove-no" class="clickable dark" > NO, CANCEL </p>
            <a href="/deletesheet/{{sheet.id}}" id="remove-yes" class="clickable dark" id="back"> YES, REMOVE IT! </a>
        </div>
    </div>
    <x id="data-facts" class="hidden">
        {% for fact in facts %}
        {{ fact.text }};
        {% endfor %}
    </x>
    <x class="hidden" id="sheet-id">{{ id }}</x>
    {% endblock content %}
