{% extends "base.html" %}

{% block content %}
    <div id="middle">
        <p id="logo-first" class="watermark">F</p>
        <p id="logo-mid" class="watermark">ACTOLLECTIO</p>
        <p id="logo-last" class="watermark">N</p>
        <p id="slogan" class="watermark">Personal Fun Fact Collection</p>
        <p id='login-prompt'><br>To build and manage your personal collection please
            <a href="/loginPage/" class="clickable">login</a> 
        </p>
    </div>
    <div id="middle-up">
<!-- Fixed part. never change end  -->
        <p class="mid-orange">About today {{ date_fact.month_abbrv }}. {{ date_fact.day }}<br>Do you know<br><br><br></p>
        <p id="today-fact">{{ date_fact.text }}
        </p>
    </div>
    <div id="bottom-band">
        <!-- <p id="left-nav" class="fix big clickable"> < </p> -->
        <div id="bottom-container">
          <p id="about-random">About {{ trivia_fact.number }}:</p>
          <a href="/loginPage/" class="clickable"> Save </a>
          <a href="/" class="clickable" id="shuffle"> Shuffle </a>
          <p id="fact-res">{{ trivia_fact.text }}
          </p> 
        </div>
        <!-- <p id="shuffle" class="clickable"> Shuffle </p> -->
    </div>
{% endblock content %}