{% extends "base.html" %}
{% load static %}
{% block content %}
<script defer src="{% static 'js/fn-i.js' %}"></script>
    <div id="middle-up">
      <!-- Fixed part. never change end  -->
      <p id="welcome" class="mid-orange">
        Welcome<br />{{user}}<br />
        <a href="/logout" class="clickable">Log out</a> <br /><br />
      </p>
      
      <div id="top-label" class="orange-bar">Saved Facts</div>
      <div id="index-box">
        <!-- loop through notes or first saved fact of all saved sheets start -->
        {% for dict in data %}
        <!-- <a href='/details/{{ dict.sheet.id }}' -->
            <!-- using Django way !-->
        <a href="/details/{{dict.sheet.id}}" >
        <p id="f0" class="fact-list">
          &#9654; {{ dict.sheet.subject }}:: {{ dict.sheet.note }}<span class="icon"> {{ dict.fact_length }}</span>
        </p> </a>
        {% endfor %}
        <!-- loop through notes or first saved fact of all saved sheets end -->
      </div>
    </div>
    <div id="selectors">
      <div id="all" class="tab">ALL</div>
      <div id="trivia" class="tab selected">TRIVIA</div>
      <div id="math" class="tab">MATH</div>
      <div id="date" class="tab">DATE</div>
      <input id="subject" type="text" />
      <input id="go-btn" class="clickable link" value="Go" type="submit" />
    </div>
    <div id="bottom-band">
      <p id="left-nav" class="fix big clickable"><</p>
      <div id="bottom-container">
        <p id="about-random">About {{ random_fact.number }}:</p>
        <!-- it may needs to be a form and submit input here -->
        <form id="add-fact" action="/add/" method="POST">{% csrf_token %}
        <input id="fact-to-save" class="hidden"> 
        </form>
        <a  class="clickable" id="save-fact"> Save </a>
        <p id="fact-res">
           {{ random_fact.text }}
        </p>
      </div>
      <p id="right-nav" class="fix big clickable">></p>
    </div>
    <x id="data-facts" class="hidden">{{data}}</x> 
{% endblock content %}
